
@{
    ViewData["Title"] = "Detail";
    Order order = Model;
}

<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
        <div class="card">
            <div class="card-body">
                <h3 class="card-title">Order Detail</h3>
                <div class="row">
                    <div class="col-md-12">
                        <div class="detailItem d-flex mt-2">
                            <h4>Code:</h4>
                            <span class="ml-2">@order.Code</span>
                        </div>
                        <div class="detailItem d-flex mt-3">
                            <h4>Price:</h4>
                            <span class="ml-2">@order.Price</span>
                        </div>
                        <div class="detailItem d-flex mt-3">
                            <h4>Count:</h4>
                            <span class="ml-2">@order.Count</span>
                        </div>
                        <div class="detailItem d-flex mt-3">
                            <h4>Note:</h4>
                            <span class="ml-2">@order.Note</span>
                        </div>
                        <div class="detailItem d-flex mt-3">
                            <h4>Url:</h4>
                            <a class="ml-2" href="@order.Url" target="_blank">Link</a>
                        </div>
                        <div class="item d-flex mt-2">
                            <h4>Status:</h4>
                            <span class="ml-2">@order.Status.Title</span>
                        </div>
                    </div>
                </div>
                <hr />
                <a asp-action="Index" asp-route-id="@TempData["id"].ToString()" class="btn btn-info text-light my-button">
                    <i class="mdi mdi-keyboard-backspace"></i> <span>Back</span>
                </a>
            </div>
        </div>
    </div>
</div>

